[submodule "bookocash-backend"]
	path = bookocash-backend
	url = https://github.com/bobyuwono/bookocash-backend/tree/master.git
[submodule "bookocash-frontend"]
	path = bookocash-frontend
	url = https://github.com/indahpuspitaa17/bookocash-frontend.git